html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(219, 217, 217);
    max-width: 700px;
    margin: 10px auto; 
    padding: 10px 20px;   
}

